$bg: #eef3f9;
$skyblue: #46aef7;
$gray: #757575;
$lightgray: #e3e3e3;
$darkgray: #333;
$black: #000;
.title {
  background-color: red;
}

.t-gray {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
}
.t-skyblue {
  color: #46aef7;
  font-size: 14px;
  font-weight: 700;
}
.icon-text {
  color: #333;
  font-size: 12px;
  font-weight: 700;
}

.b-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}
.b-text-blue {
  color: #46aef7;
  font-size: 14px;
  font-weight: 606;
}

.main-text {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}
.main-text-lightblue {
  color: #46aef7;
  font-size: 16px;
  font-weight: 700;
}
.main-text-white {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
