.title {
  background-color: red;
}

.t-gray {
  color: #757575;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 3px;
}

.t-skyblue {
  color: #46aef7;
  font-size: 14px;
  font-weight: 700;
}

.icon-text {
  color: #333;
  font-size: 12px;
  font-weight: 700;
}

.b-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
}

.b-text-blue {
  color: #46aef7;
  font-size: 14px;
  font-weight: 606;
}

.main-text {
  color: #333;
  font-size: 16px;
  font-weight: 700;
}

.main-text-lightblue {
  color: #46aef7;
  font-size: 16px;
  font-weight: 700;
}

.main-text-white {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP";
  background-color: #eef3f9;
}

.header {
  width: 100vw;
  height: 150px;
  background-color: white;
}
.header .header-items {
  max-width: 69%;
  margin: 0 auto;
}
.header .header-items .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 8px 0;
}
.header .header-items .top-header .logo {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header .header-items .top-header .logo a {
  text-decoration: none;
  color: #000;
  font-size: 30px;
  font-weight: 500;
}
.header .header-items .top-header .help-text {
  display: flex;
  align-items: center;
}
.header .header-items .top-header .help-text span {
  padding: 0 3px;
}
.header .header-items .middle-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .header-items .middle-header .search {
  width: 58%;
  position: relative;
}
.header .header-items .middle-header .search .search-in {
  width: 100%;
  border: 1.5px solid #333;
  padding: 10px 15px;
}
.header .header-items .middle-header .search .t-ali {
  text-decoration: none;
  background-color: #e3e3e3;
  padding: 3px 18.07px 4px 18px;
  position: absolute;
  top: 14%;
  right: 12%;
}
.header .header-items .middle-header .search .searchButton {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #464646;
  border: none;
  padding: 3px 15px;
}
.header .header-items .middle-header .search .searchButton img {
  width: 25px;
  height: 27px;
  padding-top: 2px;
}
.header .header-items .middle-header .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42%;
}
.header .header-items .middle-header .icon .condition a {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  background-color: #e3e3e3;
  padding: 3px 10px;
  text-decoration: none;
}
.header .header-items .middle-header .icon .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header .header-items .middle-header .icon .icons a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
}
.header .header-items .middle-header .icon .icons a img {
  width: 25px;
  height: 25px;
}
.header .header-items .middle-header .icon .icons a span {
  background-color: #f7466f;
  padding: 0px 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 10px;
  position: absolute;
  top: -15%;
  right: 0px;
}
.header .header-items .bottom-header {
  display: flex;
  justify-items: center;
  gap: 16px;
  padding-top: 13px;
}
.header .header-items .bottom-header a {
  text-decoration: none;
}
.header .header-items .bottom-header .bg-text {
  background: #eef3f9;
  padding: 3px 11px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 69%;
  background-color: white;
  padding: 22px 50px;
  margin: 20px auto;
}

.tabs-label {
  color: #333;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.tabs-item {
  display: none;
}
.tabs-item:checked + .tabs-label {
  color: #fff;
  border-radius: 4px;
  background: #46aef7;
  padding: 8px 43px 7px 43px;
}

.tab {
  width: 69%;
  display: flex;
  gap: 20px;
  margin: 0 auto;
}
.tab .tab-item {
  width: 34%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  border: 1px solid #46aef7;
  border-radius: 3px;
}
.tab .tab-item svg {
  padding-right: 2px;
}
.tab .tab-item:hover {
  background-color: #46aef7;
}
.tab .tab-item:hover svg path {
  stroke: #fff;
}
.tab .tab-item:hover p {
  color: #fff;
}
.tab .active {
  background-color: #46aef7;
}
.tab .active svg path {
  stroke: #fff;
}
.tab .active p {
  color: #fff;
}

.follow-list {
  width: 69%;
  background-color: #fff;
  margin: 20px auto;
  padding: 20px 20px 100px 20px;
}
.follow-list .followers-text {
  border-left: 10px solid #46aef7;
}
.follow-list .followers-text p {
  color: #757575;
  font-size: 24px;
  font-weight: 700;
  padding-left: 5px;
}
.follow-list .followers-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 27px 0;
}
.follow-list .followers-btn .btn {
  width: 20%;
  text-align: center;
}
.follow-list .followers-btn .btn button {
  padding: 7px 44px;
  background-color: #fff;
  border: 1px solid #46aef7;
  border-radius: 3px;
  cursor: pointer;
}
.follow-list .followers-btn .btn p {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}
.follow-list .followers-btn .btn p span {
  color: #46aef7;
  font-size: 14px;
  font-weight: 700;
}
.follow-list .user-date {
  padding: 25px 0;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 70px;
}
.follow-list .user-date p {
  color: #757575;
  font-size: 16px;
  font-weight: 500;
}
.follow-list .list {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
.follow-list .list-img {
  display: flex;
  gap: 15px;
}
.follow-list .list-img img {
  width: 70px;
}
.follow-list .list-img .list-text {
  display: flex;
  gap: 20px;
}
.follow-list .list-img .list-text .text-user p {
  color: #46aef7;
  font-size: 14px;
  font-weight: 500;
}
.follow-list .list-img .list-text p {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
}
.follow-list .list-img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.follow-list .list-img-btn .img img {
  width: 70px;
  height: 70px;
}
.follow-list .list-img-btn .box {
  width: 72px;
  height: 70px;
  background-color: #e2e2e2;
  color: #757575;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  margin-top: -5px;
  display: flex;
  align-items: center;
}
.follow-list .list .icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.follow-list .list .icon-btn .btn button {
  padding: 6px 10px;
  border-radius: 2px;
  border: none;
  background: #f7466f;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.follow-list .list .icon-btn a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 4px 15px;
  border: 1px solid #757575;
  text-decoration: none;
  border-radius: 3px;
}
.follow-list .list .icon-btn a span {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}
.follow-list .list .icon-btn a:hover {
  background-color: #46aef7;
  border: none;
}
.follow-list .list .icon-btn a:hover span {
  color: #fff;
}
.follow-list .list .icon-btn a:hover svg path {
  fill: #fff;
}
.follow-list .list .icon-btn .active {
  background-color: #46aef7;
  border: none;
}
.follow-list .list .icon-btn .active span {
  color: #fff;
}
.follow-list .list .icon-btn .active svg path {
  fill: #fff;
}
.follow-list .result {
  display: flex;
  justify-content: space-between;
}
.follow-list .result .showing p {
  color: #757575;
  font-size: 10px;
  font-weight: 700;
}
.follow-list .result .pagination {
  display: flex;
  align-items: center;
}
.follow-list .result .pagination a {
  text-decoration: none;
}
.follow-list .result .pagination a img {
  width: 16px;
  height: 16px;
}
.follow-list .result .pagination .page-item {
  background-color: #757575;
  padding: 2px 8px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */